/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.new-job-or-user-form {
	margin: 30px 0;
}

html, body { 
	height: 100%; 
}

body {
	display: table;
	margin:0;
	padding:0;
	width: 100%;
}
.page-row {
	display: table-row;
}
.page-row-expanded { 
	height: 100%; 
}

.listing-heading {
	margin-bottom: 0;
}

.listing-heading > .col > .card-panel {
	padding: 5px 0 5px 20px;
	height: 60px;
}

.listing-heading > .col > .card-panel > h3 {
	margin: 3px 0 0 0;
}

.margin-left-20px {
	margin-left: 20px;
}