// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.job-listing h4 {
	margin-bottom: 0;
}

.job-listing p {
	margin-top: 0;
}

.job-listing a {
	color: black;
}

.brand-logo {
	margin-left: 30px;
}

nav.pagination {
	background-color: #689f38;	
}

.header-image{
	background-image: url('header-image.jpg');
	background-repeat: no-repeat;
	background-size: auto;
}